<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InterstallarAdmin"
        tools:targetApi="31">
        <activity
            android:name="flights.interstellar.admin.features.main.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.InterstallarAdmin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="flights.interstellar.admin.features.settings.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/Theme.InterstallarAdmin" />

        <activity
            android:name="flights.interstellar.admin.features.connectedInstance.ConnectedInstanceActivity"
            android:label="@string/title_activity_connectedInstance"
            android:theme="@style/Theme.InterstallarAdmin" />

        <activity
            android:name="flights.interstellar.admin.features.allowedInstance.AllowedInstanceActivity"
            android:label="@string/title_activity_allowedInstance"
            android:theme="@style/Theme.InterstallarAdmin" />
    </application>

</manifest>